---
import { getEntry } from 'astro:content';
const bioContent = await getEntry('bio', 'index');


if (!bioContent) {
  throw new Error('Bio content is required but not found');
}

import { Image } from 'astro:assets';
import CTAs from '@/components/CTAs.astro';
import SocialList from "@/components/SocialList.astro";
const cta = bioContent.data.cta ? await getEntry('ctas', bioContent.data.cta) : null;
const showSocial = bioContent.data.showSocial;
const formattedDescription = (bioContent.data.description ?? '').replace(/\n/g, '<br>');
---

<section id="profile" class="scroll-area1 w-screen panel" style="padding-bottom:5vh;">
    <article>
      <div id="profiletop" class="flex flex-col md:flex-row justify-center items-center gap-4 py-8">

        <div class="nameblock flex-1 text-center justify-center" >
          <h1 class="title2 text-[clamp(1.6rem,2.8vw,2.5rem)] mb-2">{bioContent.data.title}</h1>

          <h2 class="tagline1 text-[clamp(1.2rem,2vw,3rem)] text-center mb-4">{bioContent.data.tagline}</h2>

          <div class="description text-lg md:text-xl lg:text-2xl px-4" style="width:100%;">
            <p class="text-left p-4" style="padding-left:10%;" set:html={formattedDescription}></p>


          </div>
        </div>

        <div class="flex-1 min-w-[300px] md:min-w-[500px] ">

          {bioContent.data.image && (
            <Image
              src={bioContent.data.image}
              // loading="lazy"
              alt={`${bioContent.data.name ?? 'User Photo'} Image`}
              width={250}
              height={250}
              class="max-h-[30vh] relative object-contain mx-auto"
            />
          )}

          {bioContent.data.phone && (
            <h2 class="title2 text-center text-[clamp(1.2rem,3vw,2rem)] mb-6">
              <a href={`tel:${bioContent.data.phone}`} class="hover:underline"  style="color:inherit;">{bioContent.data.phone}</a>
            </h2>
          )}

          <h3 class="font text-center text-xl md:text-2xl lg:text-3xl mb-4">{bioContent.data.subheading}</h3>
          <div class="bg-accent backdrop-blur-md mt-4 rounded-lg text-center text-lg md:text-xl lg:text-2xl mx-auto">
            <p>{bioContent.data.subcontent}</p>
          </div>




              {cta && (
                <CTAs 
                  title={cta.data.title}
                  description={cta.data.description || ''}
                  ctaUrl={cta.data.ctaUrl}
                  showFancy={cta.data.showFancy}
                  showTransition={cta.data.showTransition}
                />
              )}
        </div>
      </div>


    {showSocial && <SocialList />}
    </article>
</sectio>